/* Start Variables */
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --main-transition: 0.3s;

}

/* End Variables */

/* Start  Globle Rules */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {

    scroll-behavior: smooth;

}

body {
    font-family: 'Nunito', sans-serif;
}

a {

    text-decoration: none;


}

a:focus {
    outline: none;
}

ul {

    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width:992px) {
    .container {
        width: 950px;
    }
}

/* Large */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

.btn {
    background-color: var(--green);
    color: white;
    padding: 10px 15px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    width: 150px;
    height: 50px;
    transition: var(--main-transition);
}

.btn:hover {
    background-color: #24913e;
}

.btn:focus {
    outline: none;
}


/* Start custom range input */


input[type=range] {
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: var(--gray);
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: var(--primary);
    margin-top: -5px;
    cursor: pointer;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--light);
}

/* End custom range input */

/* End  Globle Rules */

/* Start Header */

header {
    position: sticky;
    left: 0;
    top: 0;
    background-color: var(--cyan);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .3);
    height: 10vh;
    z-index: 1000;
}

nav {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav ul li {
    padding: 10px 15px;
    transition: var(--main-transition);
    min-width: fit-content;
    max-width: 100%;
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;

}

nav ul li a {
    color: white;
    white-space: nowrap;
    font-size: 18px;
    font-weight: 600;
    transition: var(--main-transition);
    display: inline-block;
    width: 100%;
    height: 100%;
}


nav ul li:hover,
nav ul li.active {
    background-color: var(--primary);
}


/* End Header */


/* Start upload */

section.upload {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90vh;
}


section.upload .card {
    width: 45%;
    height: 60%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd;
}

section.upload form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

section.upload form div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 15px;
}

section.upload form label {
    padding: 15px;
    font-size: 25px;
    font-weight: bold;
    align-items: center;
    color: var(--primary);
}

section.upload form input[type="text"] {
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    border: 1px solid var(--cyan);
    padding: 20px;
    color: var(--gray-dark);
    font-size: 18px;
    background-color: var(--light);
    border-radius: 5px;
}


section.upload form .second {

    border: 2px dashed var(--dark);
    align-self: center;
    width: fit-content;
    margin-left: 0;
}

section.upload form div .i-lable {
    background-color: var(--blue);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 1px;
}

.submit {
    transform: translateX(-9px);
}

.preview-image {
    width: auto;
    height: auto;
}
/* End upload */

/* Start Show-Keys */

section.keys {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    /* height: 90vh; */

}

section.keys .keys-g {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: var(--dark);
    padding: 20px;
    border-radius: 15px;
    width: 65%;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0 0 10px #ddd;
}



section.keys .keys-g div {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: var(--main-transition);
}

section.keys .keys-g div:hover {
    background-color: var(--light);
}

section.keys .keys-g div:hover span {
    color: var(--gray-dark);
}

section.keys div span {
    font-size: 25px;
    font-weight: 600;
    color: var(--light);
    transition: var(--main-transition);

}


/* End Show-Keys */

/* Start cache setting */
.cache-setting {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.cache-setting .card {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: var(--info);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(221, 221, 221);
}

.cache-setting form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.cache-setting .policy {
    display: flex;
    align-items: center;
    width: 70%;
}

.cache-setting .policy p {
    color: var(--white);
    font-size: 22px;
    margin-right: 15px;
    font-weight: 500;
    white-space: nowrap;
    margin-bottom: 15px;
}

.cache-setting .policy select {
    flex: 1;
    font-size: 20px;
    height: 50px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;

}

.cache-setting .policy select:hover {
    background-color: var(--blue);
    color: var(--light);
}

.cache-setting .policy select:hover option {
    background-color: var(--light);
    color: var(--dark);
}

.cache-setting .policy select option {
    color: var(--dark);
    font-weight: 400;

}

.cache-setting .policy select:focus {
    outline: none;
}

.cache-setting .capacity {
    display: flex;
    align-items: center;
    width: 70%;
}

.cache-setting .capacity label {
    color: var(--white);
    font-size: 22px;
    margin-right: 15px;
    font-weight: 500;
    white-space: nowrap;
}

.cache-setting .capacity input {
    flex: 1;
}

.cache-setting .capacity span {
    color: var(--dark);
    font-size: 22px;
    margin-left: 15px;
    font-weight: 700;
    background-color: var(--light);
    padding: 5px;
    border-radius: 6px;

}

.cache-setting .btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

/* End cache setting */

/* Start statistics */
.statistics {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.statistics .card {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: var(--info);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.statistics .card .items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.statistics .card .items span {
    color: white;
    font-size: 17px;
    font-weight: 600;
    padding: 10px 5px;
    border-radius: 6px;
    margin-bottom: 15px;
    width: 100%;
}


.statistics .card .stats {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.statistics .card .stats .stats-box {
    display: flex;
    padding: 15px;
    flex-direction: column;
    gap: 10px;
}

.statistics .card .stats .stats-box .stats-name {
    width: 100%;
    color: var(--light);
    font-weight: bold;
    text-align: start;
    line-height: 30px;
    position: relative;
}

.statistics .card .stats .stats-box .stats-name .before {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 7px 20px;
    right: 2px;
    top: 0;
    width: 30px;
    border-radius: 5px;
    height: 30px;
    background-color: var(--gray-dark);
    color: white;
}

.statistics .card .stats .stats-box .stats-progress {
    position: relative;
    border-radius: 6px;
    height: 30px;
}

.statistics .card .stats .stats-box .stats-progress span {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--orange);
    transition: all 0.05s;
}



/* End statistics */


.error{
    color: red;
}
